<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
    <div class="jumbotron text-center">
      <h1>SECURITY LED</h1>
      <p>You can check the status of the your SECURITY LED!</p>
      <p>Status is: True (ON) or False (OFF)</p>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <h3>SECURITY LED</h3>
          <id id="mystatus"></id>
        </div>
        
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io()
        // make connection with server from user side
        socket.on('connect', function () {
            console.log('Connected to Server')
        })
        socket.on('newMessage', (newMessage) => {
            console.log('newMessage', newMessage);
            const element1 = document.getElementById("mystatus");
            element1.innerHTML = `<p>Status: ${newMessage.status4}</p>`
        })

    </script>
</body>

</html>